@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

.section-heading {
  font-size: 12rem;
  font-weight: 900;
  color: white;
  text-align: center;
  text-transform: capitalize; /*Metnin harflerinin küçük büyük ayarı */
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem black; /* 1. sağ 2. aşağı 3. gölge seperation */
}
/* End of Common Styles */

/* Navbar */
.navbar {
  width: 100%;
  height: 14rem;
  background-color: black;
  position: fixed;
  top: -14rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
  transition: top 0.4s;
}

.navbar.change {
  top: 0;
  transition: top 0.4s 0.4s;
}

.navbar-link {
  color: #aaa;
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: color 0.3s, opacity 0.2s;
}

.change .navbar-link {
  opacity: 1;
}

.change .navbar-link:nth-child(1) {
  transition: opacity 0.4s 0.5s, color 0.3s;
  /* navbar-linkin üstüne yazıldı o yüzden nth-childlarda bi daha transition tanımladık */
}

.change .navbar-link:nth-child(2) {
  transition: opacity 0.4s 0.6s, color 0.3s;
}

.change .navbar-link:nth-child(3) {
  transition: opacity 0.4s 0.7s, color 0.3s;
}

.change .navbar-link:nth-child(4) {
  transition: opacity 0.4s 0.8s, color 0.3s;
}

.change .navbar-link:nth-child(5) {
  transition: opacity 0.4s 0.9s, color 0.3s;
}

.navbar-link:hover {
  color: white;
}

.navbar-link i {
  font-size: 7rem;
}

.navbar-link span {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-top: 0.5rem;
}

.menu {
  width: 4rem;
  height: 6rem;
  background-color: black;
  position: fixed;
  top: 1rem;
  left: 5rem;
  border-radius: 30rem 30rem 15rem 15rem;
  box-shadow: 0.1rem 0.1rem 0.1rem black, -0.1rem -0.1rem 0.1rem black;
  cursor: pointer;
  transition: top 0.4s 0.2s;
}

.menu.change {
  top: 15rem;
  transform: top 0.4s;
}

.menu::before {
  content: "";
  width: 0.3rem;
  height: 15rem;
  background-color: black;
  position: absolute;
  top: -15rem;
  left: calc(50% - 0.15rem);
  box-shadow: 0.1rem 0 0.1rem black;
  /* 50% desek sadece yarısını alır ve onun önüne ekler ama calc ile yarısını alıyoruz sonra çizgi genişliğinn yarısı kadar geri gidiyoruz */
}

/* End of Navbar */

/* Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-1-icons i {
  font-size: 34rem;
  color: #a79a2a;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  text-shadow: 0.2rem 0.2rem 0.2rem black;
  transition: 0.3s;
}

.section-1-icons i.change {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.3s 0.3s; /* simgeler iç içe girmesin diye ek süre verdik */
}
/* End of Section 1 */

/* Section 2 */
.section-2 {
  width: 100%;
  height: 100vh;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem 0;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
}

.card::before {
  content: "";
  height: 100%;
  width: 1rem;
  background-color: #817824;
  position: absolute;
  top: 0;
  left: -1rem;
  transform: skewY(45deg); /* bak */
  transform-origin: right; /* bak */
  box-shadow: -0.1rem -0.1rem 0.1rem black;
}

.card {
  width: 30rem;
  background-color: #a79a2a;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1rem 1rem 1rem black;
  position: relative;
  transform: rotateY(20deg) skewX(-2deg); /* bak */
  transition: transform 0.5s, box-shadow 0.5s; /* bak */
}

.card:hover {
  transform: rotateY(20deg) skewX(-2deg) translateY(-3rem); /* bak */
  box-shadow: 2rem 2rem 2rem black;
}

.card::after {
  /* bak */
  content: "";
  height: 1rem;
  width: 100%;
  background-color: #8f8317;
  position: absolute;
  top: -1rem; /* bak */
  left: 0; /* bak */
  transform: skewX(45deg); /* bak */
  transform-origin: bottom; /* bak */
  box-shadow: -0.1rem -0.1rem 0.1rem black;
}

.card-img {
  width: 100%;
}

.card-name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #111;
  margin: 2rem 0;
  text-shadow: 0.15rem 0.15rem 0.15rem black;
}

.card-btn {
  width: 70%;
  background-color: #111;
  color: #888;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  border: none;
  padding: 0.5rem 0;
  cursor: pointer;
  box-shadow: -0.2rem -0.2rem 0.2rem black;
}
/* End Of Section 2 */

/* Section 3 */
.section-3 {
  background-color: #333;
  padding: 5rem 0;
  /* sanki içeriği sıkıştırmayada yarıyor gibi content boxı küçülterek */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
  /* başlık ile arasına margin verdik */
}

.gallery-link {
  position: relative;
  margin: 4rem 1rem;
  /* relative belirledik çünkü before ve after elementlerinin kendi konumunu bu containera göre baz almasını istedik */
}

.gallery-link:hover::before {
  height: 80%;
  /* görünür kıldık */
}

.gallery-link:hover::after {
  /* görünür kıldık */
  width: 90%;
}

.gallery-link::before {
  content: "";
  /* parentını relative yaptık onu baz alsın diye absolute kendi contaırını baz alır display propu yoksa parentının viewportu yerleşim olarak alır */
  position: absolute;
  width: 0.2rem;
  top: 2vw;
  left: 80%;
  height: 0;
  background-color: white;
  transition: height 0.5s;
  z-index: 1;
  /* dikey çizgi */
  /* dikey çizgi tam görünür değil z-indexle düzelttik */
}

.gallery-link::after {
  content: "";
  position: absolute;
  width: 0;
  top: 30%;
  left: 2rem;
  height: 0.2rem;
  background-color: white;
  transition: width 0.5s;
  /* yatay çizgi */
}

.food-img {
  width: 24vw;
  height: 15vw;
  object-fit: cover;
  box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946,
    0.7rem 0.7rem 0.1rem #297ce9, 0.9rem 0.9rem 0.1rem #e92999;
  transition: 0.5s;
}

.gallery-link:hover .food-img {
  box-shadow: 1rem 1rem 0.1rem #e92929, 2rem 2rem 0.1rem #a2e946,
    3rem 3rem 0.1rem #297ce9, 4rem 4rem 0.1rem #e92999;
  transition: all 0.5s;
  filter: blur(0.5rem);
  /* bulanıklık verdik hover olduğunda ve bu olayların hepsinin olma süresine yarım saniye verdik */
  opacity: 0.5;
  transform: scale(1.1);
}

.food-name {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white;
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
  /* çift taraflı transtion verdik çünkü mouseyi çekince çok keskin oluyor geri dönüşler hem elemente hem hoverına verdik transition normal hallerini gizledik kendi içeriklerine uyacak şekilde overflow hiddendır width 0 height 0 dır falan opacity 0 visibility hidden gibi */
}

.gallery-link:hover .food-name {
  width: 100%;
  transition: width 1.5s 0.5s;
}

.food-description {
  position: absolute;
  bottom: 2vw;
  left: 2rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.gallery-link:hover .food-description {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s 1s;
  /* 1. argüman tra uygulanacak öğe 2. argüm istenen duruma geliş süresi 3. argüm istenen durumun başlama süresi yani beklenir ve öyle başlanır  */
}
/* End of Section 3 */

/* Section 4 */
.section-4 {
  width: 100%;
  height: 30vh;
  background-color: #222;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 3rem 0;
  position: relative;
}

.section-4-text {
  text-transform: uppercase;
}

.section-4-heading {
  font-size: 4rem;
  font-weight: 900;
  color: #a79a2d;
}

.section-4-paragraph {
  font-size: 1.5rem;
  color: #888;
}

.signup-form {
  display: flex;
  align-items: center;
}

.signup-form-input {
  width: 35rem;
  height: 5rem;
  padding: 1rem;
  border: 0.2rem solid #a79a2d;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #a79a2d;
}

.signup-form-input::placeholder {
  color: #a79a2d;
}

.signup-form-btn {
  position: relative;
  left: -4.5rem;
  width: 4rem;
  height: 4rem;
  background-color: #333;
  color: #a79a2d;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.copyright {
  position: absolute;
  bottom: 3rem;
  font-size: 1.7rem;
  font-weight: 200;
  color: #eee;
  letter-spacing: 0.1rem;
  border-top: 0.1rem solid #888;
  padding-top: 6rem;
  width: 100%;
  text-align: center;
  /* copyright kısmı için css */
}

/* End of Section 4 */

/* Responsive */
@media (max-width: 1400px) {
  html {
    font-size: 50%;
  }
  .section-2 {
    height: auto;
    padding: 10rem 0 12rem 0;
  }
  .cards-container {
    margin-top: 10rem;
  }

  .gallery-link {
    width: 40rem;
    height: 25rem;
    margin: 5rem;
  }

  .food-img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 846px) {
  .section-heading {
    font-size: 9rem;
    margin: 0 5rem;
  }

  .section-1-icons {
    font-size: 25rem;
  }

  .cards-container {
    flex-wrap: wrap;
  }

  .card {
    margin: 5rem;
  }

  .section-4 {
    height: 30rem;
  }
}

@media screen and (max-width: 731px) {
  html {
    font-size: 40%;
  }
  .navbar-link {
    margin: 2rem;
  }

  .navbar-link i {
    font-size: 4rem;
  }
  .section-1-icons i {
    font-size: 26rem;
  }
  @media screen and (max-width: 600px) {
    .navbar-link i {
      font-size: 2rem;
    }
    .navbar-link {
      margin: 0 0.5rem;
    }

    .section-1-icons i {
      font-size: 23rem;
    }

    .section-4 {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .menu {
      z-index: 4;
    }

    .section-4-heading {
      font-size: 1.8rem;
    }
    .section-4-paragraph {
      font-size: 1rem;
    }

    span {
      font-size: 1rem;
    }
  }
}
/* Enf of Responsive */
